.drop-menu-wrap {
    width: 30%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.slide li a {
    text-decoration : none; 
    color : #2d2f31;
}


nav {
  max-width : 350px;
}

label span {

  background : #133659; 
  color : white;
  font-size : 30px;
  font-family: 'Bebas Neue', cursive;
  cursor : pointer;
  float: right;
  padding: 0 8px;
}


.slide {
  width:100%;
  height:0px;
  overflow: hidden;

  transition: height .7s ease;
  background-color: #d9d9d9;
  margin-left: -40px;
  
}

.slide li {
    padding : 20px 0;
    list-style: none;
    margin-right: 30px;
}

.url-button-wrap {
    display: flex;
   
}

.image-input, #b {
    margin: 0 3px;
}


#b {
    background-color: #2d2f31;
}

#b:hover {
    background-color: #2d2f31;
    transition: background-color 0.1s ease-in 0.2s;
}





#touch {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    

#touch:checked + .slide {
    height: 300px;
} 
